<!-- <div  *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> -->
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <th>Customer Id</th>
        <th>User Id</th>
        <th>Customer Name</th>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.customerId}}</td>
            <td>{{customer.userId}}</td>
            <td>{{customer.customerName}}</td>
        </tr>
    </tbody>
</table> 
